<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Willians Nieves website - Portfolio detalle</title>
	<link rel="stylesheet" href="../../foundation/css/foundation.css">
	<link rel="stylesheet" href="../../css/webstyle.css">
</head>
<body>
	<header class="small-12">
		<a href="" class="icon-menu-willi" id="main-menu-display"></a>
		<figure class="header-logo">
			<img src="../images/logo.png" alt="logo willians" />
		</figure>

		<nav class="top-bar main-menu-tablet" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#"><img class="logo-tablet" src="../images/logo-tablet.png" width="40" height="40" alt=""></a></h1>
		    </li>
		   
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left" id="list-tablet-opc">
				<li><a href="/">Home</a></li>
				<li><a href="/">Perfil</a></li>
				<li><a href="portfolio.html">Portafolios</a></li>
				<li><a href="lab.html">Laboratorio</a></li>
				<li><a href="tuts.html">Tutoriales</a></li>
				<li><a href="contact.html">Contacto</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		  </section>
		</nav>


		<section class="row">
			<nav class="top-bar main-menu-web" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><a href="/"><img class="logo-tablet" src="../../images/logo-tablet.png" width="40" height="40" alt="">illians Nieves</a></h1>
			    </li>
			   
			  </ul>

			  <section class="top-bar-section">
			    <!-- Left Nav Section -->
			    <ul class="left" id="list-tablet-opc">
					<li><a href="/">Home</a></li>
					<li><a href="templates/web/profile.html">Perfil</a></li>
					<li><a href="templates/web/portfolio.html">Portafolios</a></li>
					<li><a href="templates/web/lab.html">Laboratorio</a></li>
					<li><a href="templates/web/tuts.html">Tutoriales</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			  </section>
			</nav>
		</section>

	</header>


	<section class="row tablet-page">
		<section class="medium-12 columns detail-images-tablet">
			<figure>
				<img src="../../images/detailimg1tablet.jpg" alt="">
				<figcaption>
					<h2>Title</h2>
					<p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>
					<a href=""><span class="icon-arrow-down"></span></a>
				</figcaption>
			</figure>
			<div class="grid-button-tablet">
				<a href=""><span class="icon-bubble"></span></a>
			</div>
			<div class="arrows-button-tablet">
				<a href=""><span class="icon-arrow-left"></span></a>
				<a href=""><span class="icon-arrow-right"></span></a>
			</div>
		</section>
	</section>

	<section class="row web-page">
		<section class="medium-12 columns detail-images-tablet">
			<figure>
				<img src="../../images/detailimg1tablet.jpg" alt="">
				<figcaption>
					<h2>Title</h2>
					<p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>
					<a href=""><span class="icon-arrow-down"></span></a>
				</figcaption>
			</figure>
			<div class="grid-button-tablet">
				<a href=""><span class="icon-grid"></span></a>
			</div>
			<div class="arrows-button-tablet">
				<a href=""><span class="icon-arrow-left"></span></a>
				<a href=""><span class="icon-arrow-right"></span></a>
			</div>
		</section>
	</section>

	
	<script src="//localhost:35729/livereload.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../../foundation/js/foundation.min.js"></script>
	<script src="../../foundation/js/foundation/foundation.equalizer.js"></script>
	<script src="../../js/app.js"></script>
</body>
</html>