<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Willians Nieves website - Portfolio</title>
	<link rel="stylesheet" href="../../foundation/css/foundation.css">
	<link rel="stylesheet" href="../../css/webstyle.css">
</head>
<body>
	<header class="small-12">
		<a href="" class="icon-menu-willi" id="main-menu-display"></a>
		<figure class="header-logo">
			<img src="../../images/logo.png" alt="logo willians" />
		</figure>

		<nav class="top-bar main-menu-tablet" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#"><img class="logo-tablet" src="../../images/logo-tablet.png" width="40" height="40" alt=""></a></h1>
		    </li>
		   
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left" id="list-tablet-opc">
				<li><a href="/">Home</a></li>
				<li><a href="/">Perfil</a></li>
				<li><a href="portfolio.html">Portafolios</a></li>
				<li><a href="lab.html">Laboratorio</a></li>
				<li><a href="tuts.html">Tutoriales</a></li>
				<li><a href="contact.html">Contacto</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		  </section>
		</nav>

		<section class="row">
			<nav class="top-bar main-menu-web" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><a href="/"><img class="logo-tablet" src="../../images/logo-tablet.png" width="40" height="40" alt="">illians Nieves</a></h1>
			    </li>
			   
			  </ul>

			  <section class="top-bar-section">
			    <!-- Left Nav Section -->
			    <ul class="left" id="list-tablet-opc">
					<li><a href="/">Home</a></li>
					<li><a href="templates/web/profile.html">Perfil</a></li>
					<li><a href="templates/web/portfolio.html">Portafolios</a></li>
					<li><a href="templates/web/lab.html">Laboratorio</a></li>
					<li><a href="templates/web/tuts.html">Tutoriales</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			  </section>
			</nav>
		</section>

	</header>


	<section class="row tablet-page">
		<section class="medium-12 columns portfolio-first-tablet">
			<h2>
				<a href="">WEB</a>
			</h2>
		</section>
		<section class="medium-12 columns portfolio-first-tablet"><h2>
				<a href="movil.html">MOVIL</a>
			</h2></section>
		<section class="medium-12 columns portfolio-first-tablet"><h2>
				<a href="">GAMES</a>
			</h2></section>
	</section>

	<section class="row-fluid web-page">
		<section class="medium-6 large-6 colums" style="height: 900px; background: #005F6B; position: absolute; top:0; left:0">
		</section>	
			<section class="row">
				<section class="medium-4 large-4 columns portfolio-first-web">
				<h2>
					<a href="">WEB</a>
				</h2>
				</section>
				<section class="medium-4 large-4 columns portfolio-first-web"><h2>
						<a href="movil.html">MOVIL</a>
					</h2></section>
				<section class="medium-4 large-4 columns portfolio-first-web"><h2>
						<a href="">GAMES</a>
					</h2>
				</section>
			</section>
		<section class="medium-6 large-6 colums" style="height: 900px; background: #00B4CC; position: absolute;top:0; right:0; z-index:-999999">
		</section>

		
		
	</section>

	
	<script src="//localhost:35729/livereload.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../../foundation/js/foundation.min.js"></script>
	<script src="../../foundation/js/foundation/foundation.equalizer.js"></script>
	<script src="../../js/app.js"></script>
</body>
</html>