<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Willians Nieves website - Desarrollo web, videogames y movil de profesionales para profesionales</title>
	<link rel="stylesheet" href="../../foundation/css/foundation.css">
	<link rel="stylesheet" href="../../css/webstyle.css">
</head>
<body>
	<header class="small-12">
		<a href="" class="icon-menu-willi" id="main-menu-display"></a>
		<figure class="header-logo">
			<img src="images/logo.png" alt="logo willians" />
		</figure>

		<nav class="top-bar main-menu-tablet" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#"><img class="logo-tablet" src="images/logo-tablet.png" width="40" height="40" alt=""></a></h1>
		    </li>
		   
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left" id="list-tablet-opc">
				<li><a href="/">Home</a></li>
				<li><a href="/">Perfil</a></li>
				<li><a href="templates/portfolio.html">Portafolios</a></li>
				<li><a href="templates/lab.html">Laboratorio</a></li>
				<li><a href="templates/tuts.html">Tutoriales</a></li>
				<li><a href="templates/contact.html">Contacto</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		  </section>
		</nav>

		<section class="row">
			<nav class="top-bar main-menu-web" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><a href="/"><img class="logo-tablet" src="../../images/logo-tablet.png" width="40" height="40" alt="">illians Nieves</a></h1>
			    </li>
			   
			  </ul>

			  <section class="top-bar-section">
			    <!-- Left Nav Section -->
			    <ul class="left" id="list-tablet-opc">
					<li><a href="/">Home</a></li>
					<li><a href="templates/web/profile.html">Perfil</a></li>
					<li><a href="templates/web/portfolio.html">Portafolios</a></li>
					<li><a href="templates/web/lab.html">Laboratorio</a></li>
					<li><a href="templates/web/tuts.html">Tutoriales</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			  </section>
			</nav>
		</section>

		

	</header>

	<nav class="main-menu">
		<div class="space-menu"></div>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Perfil</a></li>
			<li><a href="">Portafolios</a></li>
			<li><a href="">Laboratorio</a></li>
			<li><a href="">Tutoriales</a></li>
			<li><a href="">Contacto</a></li>
			<li><a href="">Blog</a></li>
		</ul>
	</nav>



	<section class="row web-page">
		<section class="large-12 medium-12">
			<section class="large-4 medium-4 columns web-profile-image-content">
				<figure>
					<img src="../../images/profile-big.png" alt="">
					<figcaption>
							<p>
								You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now.
							</p>
					</figcaption>
				</figure>
				
			</section>
			<section class="large-8 medium-8 columns web-brain-profile-wrapper">
				<section class="large-6 medium-6 columns web-left-brain-profile">
					<figure>
						<img src="../../images/left-profilebrainweb.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
				</section>
				<section class="large-6 medium-6 columns web-right-brain-profile">
					<figure>
						<img src="../../images/right-profilebrainweb.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
					<figure class="brainbranch">
						<img src="../../images/brachbrain.png" alt="">
					</figure>
			</section>
		</section>
	</section>

	
	<script src="//localhost:35729/livereload.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../../foundation/js/foundation.min.js"></script>
	<script src="../../foundation/js/foundation/foundation.equalizer.js"></script>
	<script src="../../lib/freewall.js"></script>
	<script src="../../lib/snap.svg-min.js"></script>
	<script src="../../js/app.js"></script>
</body>
</html>