@import 'normalize.styl'

body
	font-size 16px

header
	background #14235c
	height 60px
	width 100%

.header-logo
	margin 0 auto
	position relative
	width 115px
	z-index 99999
	img
		width 100%

.profile-image
	background #ccc

.profile-image figure
	background #ccc
	margin-top 0
	img
		height 100%
		width 100%

.content-profile-description
	h2
		color #14235c
		text-align center
	p
		text-align center
		color #14235c

		&:nth-child(even)
			margin-bottom 0
		&:nth-child(odd)
			margin-top 0
			
			
		
	


