@import 'normalize.styl'
@import 'font.styl'

body
	font-size 16px

header
	background #14235c
	height 60px
	width 100%

.header-logo
	margin 0 auto
	position relative
	width 115px
	z-index 99999
	img
		width 100%

.profile-image
	background #fff

.profile-image figure
	background #fff
	margin 0
	img
		height 100%
		width 100%

.content-profile-description
	background #fff
	height 150px;
	position relative
	z-index: 11
	h2
		color #14235c
		text-align center
	p
		text-align center
		color #14235c

		&:nth-child(even)
			margin-bottom 0
		&:nth-child(odd)
			margin-top 0

.content-profile-description2
	background-image url('../images/bio.png')
	background-repeat no-repeat
	background-position center center
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	position relative
	z-index 10
	width 100%
	height 582px
	figure
		margin 0
		img
			width 100%
			height 100%

.profile-description-wrappe3
	bottom 0
	left 0
	position relative
	

.content-profile-description3
	background #4d4d4d
	position relative
	z-index: 9
	.title-skill
		width 30%
		margin 0
		padding 0
		height auto
		color #fff
		float left
		h2
			margin 1em 0 0 2em
	.list-skill	
		width 70%
		height auto
		color #fff
		margin 0 0 2em 0
		display inline-block
		/*padding 1em 0 1em 3em*/
		ul
			list-style none
			margin 2em

	figure
		margin 0
		img
			width 100%
	

.content-profile-description
	&:after
		border-left solid 50px transparent
		border-right solid 50px transparent
		border-top solid 20px #fff
		content ""
		height 0
		left 50%
		margin-left -50px
		position absolute
		top 100%
		width 0
	/*&:before
		content ""
		position absolute
		top 0
		left 50%
		margin-left -50px
		width 0
		height 0
		border-top solid 30px #000
		border-left solid 50px transparent
		border-right solid 50px transparent*/


.content-profile-description3
	&:after
		border-left solid 50px transparent
		border-right solid 50px transparent
		border-top solid 20px #4d4d4d
		content ""
		height 0
		left 50%
		margin-left -50px
		position absolute
		top 100%
		width 0
	/*&:before
		content ""
		position absolute
		top 0
		left 50%
		margin-left -50px
		width 0
		height 0
		border-top solid 30px #000
		border-left solid 50px transparent
		border-right solid 50px transparent*/

.profile-description-wrapper
	botom 0
	left 0
	top 1em
	position relative

.profile-description-wrapper2
	background #4d4d4d

.info-title-profile
	h2
		padding 2em 0 0 2em
		margin 0
		color #fff
		text-transform uppercase
	h4
		color #fff
		font-weight normal
		margin -0.5em 0 0 3em

.info-profile
	p
		color #fff
		margin 3em
		text-align left
		

	
	
		




			
			
		
	


